@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JungaBook";
  src: url("/fonts/Jungka-Book.woff2") format("woff2");
}

@font-face {
  font-family: "JungaMedium";
  src: url("/fonts/Jungka-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "MattoneBold";
  src: url("/fonts/Mattone-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "MattonRegular";
  src: url("/fonts/Mattone-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "TangerineBold";
  src: url("/fonts/Tangerine_Bold.woff2") format("woff2");
}

#root {
  font-family: "JungaBook";
  cursor: url("/misc/cursor1.png"), auto;
}

#root *:hover,
#root *:active,
#root *:focus {
  cursor: url("/misc/cursor1.png"), auto;
}

.metallic-hover {
  color: white; /* Blanco por defecto */
  transition: all 1s; /* Suavizar la transición */
  -webkit-text-fill-color: white; /* Safari y compatibilidad */
}

.metallic-hover:hover {
  background: linear-gradient(180deg, #666666 30%, #ffffff 50%, #666666 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Mostrar gradiente */
  transform: scale(1.1); /* Escalado opcional */
}
