@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JungaBook";
  src: url("/fonts/Jungka-Book.woff2") format("woff2");
}

@font-face {
  font-family: "JungaMedium";
  src: url("/fonts/Jungka-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "MattoneBold";
  src: url("/fonts/Mattone-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "MattoneRegular";
  src: url("/fonts/Mattone-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "chuchi";
  src: url("/fonts/mincho.woff2") format("woff2");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  font-family: "JungaBook";
  cursor: url("/misc/cursor1.png"), auto;
}

#root *:hover,
#root *:active,
#root *:focus {
  cursor: url("/misc/cursor1.png"), auto;
}

.metallic-hover {
  /* color: black;  */
  transition: all 1s; /* Suavizar la transición */
  /* -webkit-text-fill-color: black; */
}

.metallic-hover:hover {
  /* background: linear-gradient(180deg, #0000ff 30%, #5555ff 50%, #0000ff 70%); */
  background-color: #0000ff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Mostrar gradiente */
  transform: scale(1.1); /* Escalado opcional */
}
